html {
  font-size: 10px;
}

body {
  display: -webkit-flex;
  display:         flex;
  flex-direction: column;
  min-height: 100vh;

  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);

  @extend %font-prim;
  @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
}

.main {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  min-height: 100vh;
}

.container {
  width: 100%;
}

.title {
  width: 100%;

  text-align: center;
}
