.movie__cards-container {
  position: relative;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.movie__cards-container--disabled {
  display: none;
}
