.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  a {
    text-decoration: none;
  }

  &__title {
    height: 50px;
    overflow: hidden;

    font-weight: 500;
    text-align: center;
    color: black;
  }
  &__poster {
    background: no-repeat;
    img {
      width: 100%;
      max-width: 268px;
      height: 400px;

      object-fit: fill;
    }
  }

  &__year {
    margin-bottom: 0;
  }

  &__rating {
    display: flex;

    .star {
      width: 25px;
      height: 21px;
      margin-right: 10px;

      background: url("../assets/svg/rating.svg") center/21px no-repeat;
    }
  }
}
