.card {
  // object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  &__title {
    height: 50px;

    text-align: center;
  }
  &__poster {
    background: no-repeat;
    img {
      max-width: 268px;
      height: 400px;
    }
  }
}
