.control {
  position: absolute;
  right: 155px;

  display: flex;
}

.button-change-background {
  width: 50px;
  margin-right: 10px;

  background: url(../assets/svg/refresh.svg) center/26px no-repeat;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.button-change-background--load {
  background: url(../assets/svg/loader.svg) no-repeat center/30px;
}

#language {
  margin-right: 20px;

  color: white;

  background-color: #171a1bc9;
  border: none;
  outline: none;
  cursor: pointer;

  @include font($size: 2.7rem, $height: 0rem, $weight: bold);
}
