.control {
  position: absolute;
  right: 145px;

  display: none;

  &--active {
    display: flex;
  }
}

.button-change-background {
  width: 50px;

  background: url(../assets/svg/refresh.svg) center/26px no-repeat;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  transition: all 0.3s ease;
}

.button-change-background:hover,
.button-speaker:hover,
#language:hover {
  transform: scale(1.1, 1.1);
}

.button-change-background--load {
  background: url(../assets/svg/loader.svg) no-repeat center/30px;
}

.button-speaker {
  width: 50px;

  background: url(../assets/svg/speaker.svg) center/31px no-repeat;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  transition: all 0.3s ease;
}

.button-speaker--active {
  background: url(../assets/svg/speaker-active.svg) center/31px no-repeat;
}

#language {
  margin-right: 10px;

  color: white;

  background-color: #171a1b3b;
  border: none;
  outline: none;
  cursor: pointer;

  transition: all 0.3s ease;

  @include font($size: 2.7rem, $height: 1.25rem, $weight: bold);
}
