.movie__search-tool {
  position: relative;

  display: flex;
  flex-wrap: nowrap;
  height: 40px;
  margin: 0 10%;

  .movie__search {
    width: 100%;
    padding-left: 15px;

    border: 1px solid black;
    border-right: none;
    outline: none;
  }
}
