.movie__search-tool {
  position: relative;

  display: flex;
  flex-wrap: nowrap;
  height: 40px;
  margin: 0 10%;
  margin-top: 45px;

  .movie__search {
    width: 100%;
    padding-left: 15px;

    border: 1px solid black;
    border-right: none;
    outline: none;
  }
}

.movie__info-block {
  display: flex;
  justify-content: center;
  min-height: 46px;
  padding-top: 20px;

  color: #8e1414eb;
}
