.footer {
  position: sticky;
  bottom: 0;
  z-index: 1001;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;

  background-color: $color-menu;

  .wrapper {
    position: relative;

    align-items: center;
    width: 100%;
    max-width: 1200px;
  }

  .contacts {
    position: absolute;
    right: 0;

    .link {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 20px;

      color: #ffffff6b;
      text-decoration: none;

      img {
        height: 20px;
        margin-right: 10px;
      }
      &:hover {
        color: #ffffff;

        cursor: pointer;
      }
    }
  }
}
@media (max-width: 750px) {
  .contacts {
    display: none;
  }

  .search-tool .search {
    width: 70%;
  }
}
