.weather {
  padding: 20px;

  color: white;

  &__location-info {
    padding: 10px 0;
  }

  &__city {
    @include font($size: 4.5rem, $height: 0.1rem, $weight: normal);
  }

  &__country {
    @include font($size: 2.5rem, $height: 2.5rem, $weight: bold);
  }

  &__date {
    @include font($size: 1.5rem, $height: 0rem, $weight: bold);
  }

  &__daily-forecast {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }

  &__image {
    .image {
      transform: translate(-10px, 15px);
    }
  }

  &__temp {
    justify-content: center;
    align-items: center;

    @include font($size: 17rem, $height: 0rem, $weight: bold);
  }

  &__description_block {
    min-width: 270px;
    padding-left: 30px;

    line-height: 0.5rem;
  }

  &__description_block * {
    margin-bottom: 25px;
  }

  &__three-day-forecast {
    display: flex;
    .wrapper {
      display: flex;
    }
  }

  &__card {
    padding-right: 15px;

    font-weight: bold;
  }

  &__temperature {
    display: flex;
    align-items: flex-end;

    font-size: 3rem;
  }

  &__icon {
    width: 55px;

    transform: translateY(-7px);
  }
}

@media (max-width: 571px) {
  .weather {
    &__daily-forecast {
      justify-content: center;
    }

    &__temp {
      margin: 150px 0 -10px;
    }

    &__three-day-forecast {
      justify-content: center;
      padding-top: 30px;
    }

    &__image .image {
      transform: translate(155px, -165px);
    }
  }
}

@media (max-width: 460px) {
  .weather {
    padding: 10px;

    &__three-day-forecast {
      flex-direction: column;
      align-items: center;
    }
  }
}
