.weather {
  padding: 20px;

  color: white;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    &--disabled {
      display: none;
    }
  }

  &__info-block {
    position: absolute;
    top: 15px;
    right: 10px;

    width: 50px;
    height: 50px;

    background: url(../assets/svg/info.svg) center/40px no-repeat;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.3;
  }

  &__location-info {
    padding: 10px 0;
  }

  &__city {
    @include font($size: 4.5rem, $height: 2rem, $weight: normal);
  }

  &__country {
    @include font($size: 2.5rem, $height: 2.5rem, $weight: bold);
  }

  &__date {
    @include font($size: 1.5rem, $height: 2rem, $weight: bold);
  }

  &__daily-forecast {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }

  &__image {
    transform: translateX(-25px);

    animation-name: image-animation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }

  @keyframes image-animation {
    from {
      transform: scale(1, 1);
      filter: contrast(100%);
    }

    to {
      transform: scale(0.9, 0.9);
      filter: contrast(200%);
      filter: blur(1px);
    }
  }

  &__temp {
    justify-content: center;
    align-items: center;

    @include font($size: 17rem, $height: 2rem, $weight: bold);
  }

  &__description_block {
    min-width: 270px;
    padding-top: 15px;
    padding-left: 30px;
  }

  &__three-day-forecast {
    display: flex;
    .wrapper {
      display: flex;
    }
  }

  &__card {
    padding-right: 15px;

    font-weight: bold;
  }

  &__temperature {
    display: flex;
    align-items: flex-end;

    font-size: 3rem;
  }

  &__icon {
    transform: translateY(-7px);

    animation-name: icon-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

    .icon {
      width: 55px;
    }
  }

  @keyframes icon-animation {
    from {
      transform: translateX(-5px);
    }

    to {
      transform: translateX(5px);
    }
  }
}

@media (max-width: 1071px) {
  .weather {
    &__three-day-forecast {
      justify-content: center;
    }
  }
}

@media (max-width: 571px) {
  .weather {
    &__daily-forecast {
      justify-content: center;
    }

    &__temp {
      margin: 105px 0 70px;
    }

    &__three-day-forecast {
      justify-content: center;
      padding-top: 30px;
    }

    &__image {
      padding-left: 125px;

      transform: none;
      .image {
        width: 80px;

        transform: translateY(20px);
      }
    }
  }
}

@media (max-width: 460px) {
  .weather {
    padding: 10px;

    &__three-day-forecast {
      flex-direction: column;
      align-items: center;
    }
  }
}
